<div id="wrapper">

	<div id="header">
		<nav class="wecudos-navbar navbar navbar-default navbar-fixed-top" role="navigation">
		  <div class="container-fluid">
		  	<a href="#"><img src="images/wecudos_logo_fade.png" alt="Wecudos" class="img-rounded wecudos-logo" border="0" height="50"></a>

		  	<div class="wecudos-navbar-right">
		      <a href="#"><img src="images/login-logo.jpg" alt="Wecudos" class="login-logo" border="0" height="50">LOGIN</a>
		    </div>

		  </div>
		</nav>
	</div>

	<div id="content">
		{{outlet}}
	</div>

	<div id="footer">
		<footer class="container-fluid wecudos-footer">
			<div class="row">
				<div class="col-sm-8 col-sm-push-4">
					<div class="container-fluid">
						<div class="row links">
							<div class="col-sm-3 col-sm-push-3">
								PRIVACY
							</div>
							<div class="col-sm-3 col-sm-push-3">
								TERMS & CONDITIONS
							</div>
							<div class="col-sm-3 col-sm-push-3">
								CONTACT
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4 col-sm-pull-8">
					<div class="logo">
						<img class="wecudos-img" src="images/last-page-wecudos.jpg">
						<div class="copyright"> 
							©2014 WECUDOS ALL RIGHTS RESERVED 
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

</div>